body {
    width: 400px;
    min-height: 600px;
    margin: 0;
    box-sizing: border-box;
}

#app {
    padding: 24px;
    height: inherit;
    box-sizing: border-box;
    width: inherit;
    min-height: inherit;
}

.button-history {
    background: linear-gradient(271deg, #4075E9 0%, #E203B7 99.85%);
}

.background-gradient {
    background: linear-gradient(271deg, #4075E9 0%, #E203B7 99.85%);
}

.border-bottom {
    border-bottom: 1px solid #000000
}

.switch {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 32px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.download-pdf::before {
    content: "";
    display: block;
    width: 24px;
    margin-right: 4px;
    height: 24px;
    background: url("../../assets/logo/download-sign.svg") no-repeat center;
    background-size: contain;
}

td, th {
  text-align: left;
  padding: 6px;
  word-wrap: break-word;
}

.main-table {
    border-collapse: separate; 
    border-spacing: 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.coin {
    position: relative;
}

.coin::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 8px;
    left: 70px;
    background: url("../../assets/logo/arrow-forward.svg") no-repeat center;
    background-size: cover;
    transform: rotate(90deg);
}

.input-block {
    position: relative;
}

.input-block::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    width: 0;
    height: 40px;
    bottom: 40px;
    right: 165px;
    border: .5px solid rgba(0, 0, 0, 0.50);
}

.coin-radius-bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.coin-radius-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
 
.values-block {
    position: relative;
}

.values-block::after {
    content: "";
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    top: 43%;
    right: 47%;
    background: url("../../assets/logo/values-converter.svg") no-repeat center;
    background-size: cover;
}

.input-text-directions {
    direction:rtl;
}