body {
    width: 400px;
    height: 600px;
    margin: 0;
    box-sizing: border-box;
}

#app {
    padding: 24px;
    height: inherit;
    box-sizing: border-box;
    overflow: hidden;
}

.button-history {
    background: linear-gradient(271deg, #4075E9 0%, #E203B7 99.85%);
}