.heading1 {
    color: #FFF;
    font-family: Monserrat Semibold, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.heading2 {
    color: #FFF;
    font-family: Monserrat Bold, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.text {
    color: #000;
    font-family: Monserrat Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.settings-text {
    color: #000;
    font-family: Monserrat Regular, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.white-text {
    color: #FFF;
    font-family: Monserrat Regular, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.input-text {
    color: #000;
    font-family: Monserrat Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.small-bold-text {
    color: #000;
    font-family: Monserrat Bold;
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
}

.white-bold-text {
    color: #FFF;
    font-family: Monserrat Bold, sans-serif;
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
}

.dark-semibold-text {
    color: #000;
    font-family: Monserrat Semibold, sans-serif;
    font-size: 14px;
    font-weight: 500;
}